<header>
    
    <nav>
        <h1><a href="/">Land Marketplace</a></h1>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Listings</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</header>