<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land Market Place | Homepage</title>
    <link rel="stylesheet" href="index.css" />
</head>
<body>
    <%- include ("_header.ejs") %>
    <main>
        <section id="home" class="katikati">
            <h2>Find Your Perfect Land</h2>
            <p>Browse, buy, or rent lands across Kenya.</p>
        </section>

        <section class="home-images">
            <div class="image-description-container row">
                <img src="./images/land location.avif" alt="Image 1">
                <div class="description">
                    <h2>land location</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur, beatae alias cumque est quia fuga perspiciatis tenetur magnam. Recusandae atque tempore quis nihil saepe id voluptatum sapiente deserunt veritatis sequi dolor similique, omnis beatae earum officiis at dolorum exercitationem maxime fuga. Iure libero sapiente repellat, ut eum iste doloribus, fugit atque, soluta odit facilis dolore tempore illum. Deleniti quo doloremque consequatur, asperiores eum voluptates libero id ipsa, velit modi numquam reiciendis accusantium, amet eligendi voluptatum est necessitatibus architecto saepe! Quam modi nisi, sunt exercitationem rem nostrum accusantium vel accusamus ipsa.</p>
                </div>
            </div>
            
            <div class="image-description-container row-reverse">
                <img src="./images/sold land.jpg" alt="Image 2">
                <div class="description">
                    <h2>sold lands</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto harum laudantium vel explicabo, fugiat qui laboriosam sapiente labore, alias in nobis aliquam? Repellendus itaque quis, quo, adipisci consectetur, veritatis tempora sequi doloribus perferendis dolorum totam? Repudiandae quis excepturi cumque eligendi ut possimus perferendis aliquam. A, molestias enim officia nemo ratione nesciunt neque fugit itaque laudantium quisquam alias inventore in sint dolorem cum culpa ex illo! Optio eos vel nam eveniet ab, unde exercitationem dolor nesciunt cumque odit!</p>
                </div>
            </div>
            
            <div class="image-description-container row">
                <img src="./images/surveyor one.jpg" alt="Image 3">
                <div class="description">
                    <h2>best surveyors</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ab quidem ex itaque modi temporibus impedit laborum repudiandae delectus magni sequi saepe magnam veritatis, rerum obcaecati perspiciatis ullam corporis error. Amet possimus rem officiis eligendi cupiditate fugiat inventore error vel, atque ratione modi facilis nemo. Culpa porro, blanditiis fuga nobis repellendus quibusdam maiores sed excepturi cum, vel aperiam? Odit eveniet amet sint exercitationem incidunt officiis?</p>
                </div>
            </div>
            
            <div class="image-description-container row-reverse">
                <img src="./images/happy couple buyers.jpg" alt="Image 4">
                <div class="description">
                    <h2>happy clients</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto officia perferendis vitae hic illum, ipsam, cupiditate consequatur fugiat aspernatur facilis fuga expedita excepturi adipisci est quae quo suscipit earum ipsa sunt animi iure, tenetur fugit. Consequatur necessitatibus asperiores officiis, non numquam nobis fuga veniam officia delectus excepturi. Neque quisquam alias praesentium porro earum laudantium odio omnis! Ipsum ducimus nihil deleniti est iusto illum inventore veniam ex laudantium. Voluptatibus, commodi natus corporis sit earum minus, laborum atque, blanditiis incidunt amet ipsum.</p>
                </div>
            </div>
            
        </section>
    
        <section id="contact">
            <h2>Contact Us</h2>
            <form id="contact-form">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
    
                <button type="submit">Send</button>
            </form>
            <div class="agent">
                <h2>Talk to an Agent</h2>
                <p>Phone: +254 745 820 998</p>
                <p>Whatsapp: +254 745 820 998</p>
                <p>Email: support@lmp.com</p>
            </div>
        </section>
        <section class="message">
            <div class="message-1">
                <h3>Here are messages from our clients</h3>
            </div>
            <div class="message-list">
                <div class="message-card">
                    <img src="./images/jwafula.jpg" alt="">
                    <h3>John Wafula</h3>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque, maiores libero vero alias ducimus? Perspiciatis, voluptatem!"</p>
                </div>
                <div class="message-card">
                    <img src="./images/otherman.jpg" alt="">
                    <h3>Oliver Tuya</h3>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque, maiores libero vero alias ducimus? Perspiciatis, voluptatem!"</p>
                </div>
                <div class="message-card">
                    <img src="./images/esther.jpg" alt="">
                    <h3>Esther Wangeci</h3>
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis atque, maiores libero vero alias ducimus? Perspiciatis, voluptatem!"</p>
                </div>
            </div>
        </section>

    </main>
    <%- include ("_footer.ejs") %>
</body>
</html>